
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&display=swap');

:root {
    --primary-color: #2e8b57; /* Cor verde principal */
    --secondary-color: #ffffff; /* Cor branca */
    --accent-color: #ffcc00; /* Cor de destaque (amarelo claro) */
    --bg-color: #f0f4f3; /* Fundo suave */
    --font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li {
    font-size: 1.2rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--accent-color);
}

main {
    padding: 2rem;
    padding-bottom: 8rem; /* Adicionado para evitar sobreposição com o footer */
}

.graficos-section {
    text-align: center;
}

.graficos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem; /* Margem inferior para o container de gráficos */
}

.grafico {
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20
